@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-primary {
  @apply w-full max-w-md rounded-3xl bg-main p-2 text-center font-medium text-background transition-transform duration-200 hover:scale-[1.02];
}
